
.menu ul li {
	color: blue;
	background-color: #cea7f5;
	float: left;
	list-style: none;
	width: 16.66%;
	height: auto;
	line-height: 50px;
	text-align: center;
	margin-top: 50px;
	border: 5px solid #b685f1;
}


.menu ul li:hover {
	background-color: white;
	color: purple;
	border: 5px solid #b685f1;
	border-radius: 30px;
}

.menu img {
	padding-top: 10%;
	padding-left: 40%;
	padding-right: 40%;
	width: 100%;
}

.menu ul {
	padding-left: 8%;
	padding-right: 6%;
	width: 100%; 
}


#about {
	
	padding: 200px;
	animation: text 1s 1;
}

#education {

	padding: 200px;

}

#contact {
	
	padding: 200px;
	padding-bottom: 420px;
}

#reference {
	
	padding: 200px;;
}

.col-md-6 {
	padding: 0px;
	width: 100%;
	color: navy;
}

#project_thesis {
	padding: 200px;
	text-align: center;
}

#project {
	padding-top: 100px; 
}

#thesis {
	padding-top: 50px;
}


#skills {
	
	padding: 200px;
	
}

.col-md-4 {
	width: 100%;
	height: 240px;

}


.sobi {
	padding-top: 20%;
	padding-left: 45%;
}


#about .row {
	margin-right: 0px;
	margin-left: 0px;
}


#slider table {
	width: 100%;
	text-align: left;
	color: #05adad;
	margin-bottom: 300px;
	margin-top: 100px;
}


#slider img{
    height: 700px;
    margin-top: 100px;
    padding-left: 10px;
}


#reference .row {
	padding: 20px;
}


p {
	color: navy;
}

h1,h3,h4,h5 {
	color: #057cf7;
}

html {
	scroll-behavior: smooth;
}

@keyframes text {
	0%{
		color: black;
		margin-bottom: -40px;
	}

	30%{
		letter-spacing: 5px;
		margin-bottom: -40px;
	}
	
	
}
